* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

#quadra{
    width: 90vw;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background: rgb(8, 8, 8);
}
