* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: auto;
    height: auto;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    padding-bottom: 2vh;
}

/* CABEÇALHO */

#cabecalho{
    width: 100vw;
    height: 25vh;

    min-width: 320px;
    max-width: 100%;

    min-height: 100px;
    max-height: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(0, 0, 0);
}

/* -> LOGO DA PÁGINA <- */

#cabecalho_logo{
    width: 150px;
    height: 148.5px;

    min-width: 100px;
    min-height: 100px;

    max-width: 100%;
    max-height: 100%;

    background-color: rgb(0, 0, 0);
}

#cabecalho_logo img{
    width: 100%;
    height: 100%;

    min-width: 100px;
    min-height: 100px;

    max-width: 100%;
    max-height: 100%;
}

/* -> ESPAÇO VAZIO <- */

#cabecalho_vazio{
    width: 100px;
    height: 100px;

    min-width: 75px;
    min-height: 75px;

    max-width: 100%;
    max-height: 100%;

    margin-left: 4%;
    
    background-color: rgb(0, 0, 0);

}

/* -> BOTÃO GITHUB <- */

#cabecalho_github{
    width: 100px;
    height: 100px;

    min-width: 75px;
    min-height: 75px;

    max-width: 100%;
    max-height: 100%;

    margin-right: 4%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0);

}

#cabecalho_github i{
    color: white;
    font-size: 400%;
}

/* CENTRAL DE CONTROLE */

#central_de_controle{
    width: 90vw;
    height: 30vh;

    min-width: 320px;
    max-width: 3000px;

    min-height: 100px;
    max-height: 250px;

    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 2vh;
    padding: 1.25%;
}

#central_de_controle_2{
    width: 100%;
    height: 100%;

    background-color: rgb(111, 111, 111);
    border-radius: 8px;
}

/* QUADRA PRINCIPAL */

#quadra{
    width: 90vw;
    height: 50vw;

    min-width: 320px;
    max-width: 3000px;

    min-height: 160px;
    max-height: 1500px;

    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 2vh;
    padding: 2%;

    position: relative;
}

#quadra_background{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#quadra_background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#jogador_1{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    left: 10vw;
    bottom: 17.25vw;
}

#jogador_2{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    left: 21.25vw;
    bottom: 7.5vw;
}

#jogador_3{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    left: 21.25vw;
    top: 7.5vw;
}

#jogador_4{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    left: 32.5vw;
    top: 10vw;
}

#jogador_5{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    left: 32.5vw;
    bottom: 10vw;
}

#jogador_6{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    right: 10vw;
    bottom: 17.25vw;
}

#jogador_7{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    right: 21.25vw;
    bottom: 7.5vw;
}

#jogador_8{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    right: 21.25vw;
    top: 7.5vw;
}

#jogador_9{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    right: 32.5vw;
    top: 10vw;
}

#jogador_10{
    width: 11vw;
    height: 15vw;

    min-width: 32px;
    max-width: 3000px;

    min-height: 40px;
    max-height: 3750px;

    position: absolute;
    right: 32.5vw;
    bottom: 10vw;
}

#jogador_1 img{
    width: 100%;
    height: 100%;
}

#jogador_2 img{
    width: 100%;
    height: 100%;
}

#jogador_3 img{
    width: 100%;
    height: 100%;
}

#jogador_4 img{
    width: 100%;
    height: 100%;
}

#jogador_5 img{
    width: 100%;
    height: 100%;
}

#jogador_6 img{
    width: 100%;
    height: 100%;
}

#jogador_7 img{
    width: 100%;
    height: 100%;
}

#jogador_8 img{
    width: 100%;
    height: 100%;
}

#jogador_9 img{
    width: 100%;
    height: 100%;
}

#jogador_10 img{
    width: 100%;
    height: 100%;
}