* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(78, 78, 78);
}

#quadra{
    width: 75vw;
    height: 40vw;
    display: flex;
    background: rgb(34, 34, 34);
    position: relative;
    padding: 1.3%;
    left: 8vw;
    border-radius: 15px;
}

#imagem_quadra{
    width: 100%;
    height: auto;
    position: relative;
}

/* ################################################################################### ################################################################################## */

/* PRIMEIRO ARMADOR */

#primeiro_slot{
    width: 9vw;
    position: absolute;
    top: 52.5vh;
    left: 47.5vw;
}
#PG1{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* SEGUNDO ARMADOR */

#segundo_slot{
    width: 9vw;
    position: absolute;
    bottom: 50vh;
    left: 47.5vw;
}

#SG1{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* PRIMEIRO ALA */

#terceiro_slot{
    width: 9vw;
    position: absolute;
    top: 55vh;
    left: 38.8vw;
}

#SF1{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* SEGUNDO ALA */

#quarto_slot{
    width: 9vw;
    position: absolute;
    bottom: 52.5vh;
    left: 38.8vw;
}

#PF1{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* PIVÔ */

#quinto_slot{
    width: 9vw;
    position: absolute;
    top: 37.5vh;
    left: 30vw;
}

#CE1{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* ################################################################################### ################################################################################## */

/* PRIMEIRO ARMADOR */

#sexto_slot{
    width: 9vw;
    position: absolute;
    top: 52.5vh;
    right: 31.25vw;
}
#PG2{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* SEGUNDO ARMADOR */

#setimo_slot{
    width: 9vw;
    position: absolute;
    bottom: 50vh;
    right: 31.25vw;
}

#SG2{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* PRIMEIRO ALA */

#oitavo_slot{
    width: 9vw;
    position: absolute;
    top: 55vh;
    right: 22.55vw;
}

#SF2{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* SEGUNDO ALA */

#nono_slot{
    width: 9vw;
    position: absolute;
    bottom: 52.5vh;
    right: 22.55vw;
}

#PF2{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* PIVÔ */

#decimo_slot{
    width: 9vw;
    position: absolute;
    top: 37.5vh;
    right: 13.75vw;
}

#CE2{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

/* ################################################################################### ################################################################################## */

/* SELECT DOS TIMES */ 

#central_de_controle{
    width: 15%;
    height: 80%;
    position: absolute;
    background-color: rgb(34, 34, 34);
    left: 1.5%;
    border-radius: 7.5px;
}

#logo_pagina{
    width: 50%;
    height: 20%;
    position: absolute;
    top: 5%;
    left: 25%;
    background-color: rgb(34, 34, 34);
}

#logo_pagina img{
    width: 100%;
    height: 100%;
    position: relative;
}

#escolha_times{
    font-size: 80%;
    font-weight: 500;
    position: absolute;
    left: 11%;
    top: 35%;
    padding: 1.5%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 4px;
    width: 80%;
}

#escolha_escalacao_1{
    font-size: 80%;
    font-weight: 500;
    position: absolute;
    left: 11%;
    top: 45%;
    padding: 1.5%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 4px;
    width: 80%;
}

#escolha_escalacao_2{
    font-size: 80%;
    font-weight: 500;
    position: absolute;
    left: 11%;
    top: 55%;
    padding: 1.5%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border-radius: 4px;
    width: 80%;
}

#botao_download{
    font-size: 120%;
    font-weight: 600;
    position: absolute;
    padding: 5%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    top: 62.5%;
    left: 7%;
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 85%;
    height: 7.5%;
}

#central_de_controle label{
    font-size: 120%;
    font-weight: 500;
    position: absolute;
    color: rgb(255, 255, 255);
    left: 11%;
}

#label_1{
    top: 31%;
}

#label_2{
    top: 41%;
}

#label_3{
    top: 51%;
}

#github{
    position: absolute;
    top: 88%;
    color: white;
    font-size: 300%;
    left: 38%;
}